/* Reset default styles and set up the body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: no-repeat fixed center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
}

/* Create a container for the background image */
#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Adjust the width for the desired speed of movement */
    height: 100%;
    z-index: -1; /* Place it behind other content */
}

/* Style the background image */
#background {
    width: 50%; /* Adjust the width for the desired speed of movement */
    height: 100%;
}

/* Center content vertically and horizontally */
#content {
    z-index: 1; /* Place content in front of the background */
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the "CREDITS" image */
img[alt="CREDITS"]  {
    position: absolute;
    top: 10px; 
    right: 10px;
}
